REDIS_HOST=redis # localhost
REDIS_PORT=6379
REDIS_PASSWORD=senha-forte-para-o-redis
REDIS_DB=0

DATABASE_URL="postgresql://notification_user:senha-forte-para-o-postgres@localhost:5432/notification_service?schema=public"